// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.in1{
    background-color: lightgrey;
    border:black;
    color: brown;
}

.in2{
    background-color: blue;
}
 p{
     background-color: cornflowerblue;
     border-radius: cornflowerblue;
 }